<app-page-title></app-page-title>

<div class="container">
  <p>
    This is Bootiful Micro Pizza. A fictitious online pizza store built by
    <a href="https://www.iancollington.com/" target="_blank">Ian Collington</a>
    - a UK based Java consultant.
  </p>

  <p>
    It has been created to explore and learn the technology and architecture around microservices. 
    This is a work in progress so there is limited functionality at this time.
  </p>

  <p>
    This site is being developed using the latest technologies. On the backend we have:-
  </p>

  <ul>
    <li><a href="https://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a> 2.1.2</li>
    <li><a href="http://projects.spring.io/spring-cloud/" target="_blank">Spring Cloud</a> Greenwich Release</li>
    <li><a href="https://www.mysql.com/" target="_blank">MySQL</a> (RDS)</li>
    <li><a href="http://www.oracle.com/technetwork/java/index.html" target="_blank">Java 8</a></li>
  </ul>

  <p>
    On the frontend (this website) we have:-
  </p>

  <ul>
    <li><a href="https://angular.io/" target="_blank">Angular</a> 7</li>
    <li><a href="https://www.nginx.com/" target="_blank">NGINX</a></li>
  </ul>

  <p>
    It is hosted on AWS using:-
  </p>

  <ul>
    <li><a href="https://aws.amazon.com/eks" target="_blank">Elastic Container Service for Kubernetes (EKS)</a></li>
    <li><a href="https://aws.amazon.com/ecr" target="_blank">Elastic Container Registry (ECR)</a></li>
    <li><a href="https://aws.amazon.com/s3" target="_blank">S3</a></li>
    <li><a href="https://aws.amazon.com/rds" target="_blank">Relational Database Service (RDS)</a></li>
    <li><a href="https://aws.amazon.com/route53" target="_blank">Route 53</a></li>
  </ul>

  <p>
    Built using the following tools:-
  </p>

  <ul>
    <li><a href="https://github.com/" target="_blank">GitHub</a></li>
    <li><a href="https://aws.amazon.com/cloudformation" target="_blank">AWS CloudFormation</a></li>
    <li><a href="https://aws.amazon.com/codepipeline/" target="_blank">AWS CodePipeline</a></li>
    <li><a href="https://maven.apache.org/" target="_blank">Maven</a></li>
    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
  </ul>

  <p>
    You can find out more about this project on Ian's <a href="https://www.iancollington.com/" target="_blank">blog</a>.
  </p>
</div>