<div id="hero">
    <span id="hero-text">Bootiful pizza delivered fresh to your door</span>

    <mat-icon id="hero-arrow">expand_more</mat-icon>
</div>

<div class="container">
  <mat-grid-list cols="2" gutterSize="50">
    <mat-grid-tile>
      <img src="/assets/sad.jpeg" alt="Sorry, no pizza!">        
    </mat-grid-tile>
    <mat-grid-tile class="align-top">
      <div>
        <h2>It's pizza but it's not real!</h2>
        <mat-divider></mat-divider>
        <p>
          Sorry if you are looking for dinner but this site is not real. You won't get any pizza.
        </p>
        <p>
          It's a fictitious site created by <a href="https://www.iancollington.com/" target="_blank">Ian Collington</a>
          to learn about the microservice architecture. You can find out more on the <a routerLink="/about">About</a> page.
        </p>
        <p>
          Alternatively, please do try the site out and order some <a routerLink="/pizzas">pizza</a>!
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
